// Breakpoints
// 600px and DOWN: phones
// 600px and UP: portrait tablets and large phones
// 768px and up: landscape tablets
// 992px and up: laptops/desktops
// 1200px and up: large laptops and desktops

// Colors
$add-to-cart-btn: rgb(255, 125, 26);
$amount-background: rgb(247, 248, 253);
$arrow-btn-background: rgb(255, 255, 255);
$avatar-border: rgb(255, 125, 26);
$cart-background: rgb(255, 255, 255);
$checkout-btn-background: rgb(255, 125, 26);
$discount-background: rgb(255, 237, 224);
$heading-bar-border: rgb(182, 188, 200);
$image-border: rgb(255, 125, 26);
$image-hover: rgba(255, 255, 255, 0.6);
$menu-background: rgba(0, 0, 0, 0.6);
$menu-container-background: rgb(255, 255, 255);
$modal-background: rgba(0, 0, 0, 0.6);
$nav-item-underline: rgb(255, 125, 26);
$word-color-1: rgb(255, 255, 255);
$word-color-2: rgb(0, 0, 0);
$word-color-3: rgb(255, 125, 26);
$word-color-4: rgb(104, 112, 125);
$word-color-5: rgb(182, 188, 200);